<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lightsafe Map</title>

    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=***************카카오api키자리입니다.">
    </script>
</head>

<body>

<h1>Lightsafe 지도</h1>

<div id="map" style="width:100%;height:500px;"></div>

<script>
    var container = document.getElementById('map');

    var options = {
        center: new kakao.maps.LatLng(37.5665, 126.9780),
        level: 3
    };

    var map = new kakao.maps.Map(container, options);
</script>

</body>
</html>